In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
adv_df = pd.read_csv('../data/raw/Advanced.csv')
player_df = pd.read_csv('../data/raw/Player Totals.csv')

In [3]:
player_df.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,30458,2023,5025,A.J. Green,NaN,SG,23.0,1,NBA,MIL,...,1.000,6.0,39.0,45.0,22,6.0,0.0,9.0,31,154
1,30459,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,TOT,...,0.250,6.0,15.0,21.0,2,2.0,0.0,3.0,11,56
2,30460,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,MIN,...,NaN,0.0,1.0,1.0,0,0.0,0.0,0.0,1,2
3,30461,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,DAL,...,0.250,6.0,14.0,20.0,2,2.0,0.0,3.0,10,54
4,30462,2023,4219,Aaron Gordon,NaN,PF,27.0,9,NBA,DEN,...,0.608,164.0,282.0,446.0,203,54.0,51.0,98.0,129,1109

In [4]:
adv_df.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
0,30458,2023,5025,A.J. Green,NaN,SG,23.0,1,NBA,MIL,...,6.6,16.6,0.5,0.3,0.8,0.111,-0.3,-0.6,-0.9,0.1
1,30459,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,TOT,...,5.9,21.1,0.1,0.1,0.1,0.063,-1.5,-2.9,-4.4,-0.1
2,30460,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,MIN,...,0.0,21.4,0.0,0.0,0.0,0.377,-2.3,7.5,5.2,0.0
3,30461,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,DAL,...,6.1,21.1,0.1,0.1,0.1,0.057,-1.5,-3.1,-4.6,-0.1
4,30462,2023,4219,Aaron Gordon,NaN,PF,27.0,9,NBA,DEN,...,9.8,21.1,4.6,2.2,6.8,0.158,2.4,-0.3,2.1,2.1

In [8]:
different_cols = player_df.columns.difference(adv_df.columns)

In [9]:
player2 = player_df[different_cols]

In [10]:
player_data = pd.merge(adv_df, player2, left_index=True, right_index=True, how='inner')

In [11]:
player_data.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,pts,stl,tov,trb,x2p,x2p_percent,x2pa,x3p,x3p_percent,x3pa
0,30458,2023,5025,A.J. Green,NaN,SG,23.0,1,NBA,MIL,...,154,6.0,9.0,45.0,9,0.450,20,44.0,0.419,105.0
1,30459,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,TOT,...,56,2.0,3.0,21.0,12,0.632,19,10.0,0.400,25.0
2,30460,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,MIN,...,2,0.0,0.0,1.0,1,1.000,1,0.0,NaN,0.0
3,30461,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,DAL,...,54,2.0,3.0,20.0,11,0.611,18,10.0,0.400,25.0
4,30462,2023,4219,Aaron Gordon,NaN,PF,27.0,9,NBA,DEN,...,1109,54.0,98.0,446.0,369,0.628,588,60.0,0.347,173.0

In [14]:
def describe_dataframe(df):
    print("  TYPES   ".center(82, '-'))
    print(df.dtypes)

    print("  SHAPE   ".center(82,'-'))
    print(f"Rows: {df.shape[0]}")
    print(f"Columns: {df.shape[1]}")

    print("  DUPLICATES  ".center(82,'-'))
    print(df.duplicated().sum())

    print("  NaN VALUES".center(82,'-'))
    print(df.isna().sum())

    print("  QUANTILES   ".center(82,'-'))
    print(df.quantile([0,0.05,0.50,0.95,0.99,1]).T)

    print("  DATAFRAME HEAD      ".center(82, '-'))
    print(df.head(n=5))
    print("  DATAFRAME TAIL      ".center(82, '-'))
    print(df.tail(n=5))

In [15]:
describe_dataframe(player_data)

------------------------------------  TYPES   ------------------------------------
seas_id           int64
season            int64
player_id         int64
player           object
birth_year      float64
pos              object
age             float64
experience        int64
lg               object
tm               object
g                 int64
mp              float64
per             float64
ts_percent      float64
x3p_ar          float64
f_tr            float64
orb_percent     float64
drb_percent     float64
trb_percent     float64
ast_percent     float64
stl_percent     float64
blk_percent     float64
tov_percent     float64
usg_percent     float64
ows             float64
dws             float64
ws              float64
ws_48           float64
obpm            float64
dbpm            float64
bpm             float64
vorp            float64
ast               int64
blk             float64
drb             float64
e_fg_percent    float64
fg                int64
fg_percent      float64
fga               int64
ft                int64
ft_percent      float64
fta               int64
gs              float64
orb             float64
pf                int64
pts               int64
stl             float64
tov             float64
trb             float64
x2p               int64
x2p_percent     float64
x2pa              int64
x3p             float64
x3p_percent     float64
x3pa            float64
dtype: object
------------------------------------  SHAPE   ------------------------------------
Rows: 31135
Columns: 55
----------------------------------  DUPLICATES  ----------------------------------
0
-----------------------------------  NaN VALUES-----------------------------------
seas_id             0
season              0
player_id           0
player              0
birth_year      28267
pos                 0
age                22
experience          0
lg                  0
tm                  0
g                   0
mp               1083
per              1100
ts_percent        128
x3p_ar           6482
f_tr              149
orb_percent      5298
drb_percent      5298
trb_percent      3709
ast_percent      2725
stl_percent      5641
blk_percent      5640
tov_percent      5730
usg_percent      5640
ows                11
dws                11
ws                 11
ws_48            1100
obpm             5647
dbpm             5647
bpm              5647
vorp             5647
ast                 0
blk              5625
drb              4657
e_fg_percent      149
fg                  0
fg_percent        149
fga                 0
ft                  0
ft_percent       1232
fta                 0
gs               8637
orb              4657
pf                  0
pts                 0
stl              5626
tov              5635
trb               894
x2p                 0
x2p_percent       226
x2pa                0
x3p              6352
x3p_percent     10482
x3pa             6352
dtype: int64
----------------------------------  QUANTILES   ----------------------------------
                  0.00      0.05       0.50        0.95         0.99  \
seas_id          1.000  1557.700  15568.000  29578.3000  30823.66000
season        1947.000  1955.000   1997.000   2021.0000   2023.00000
player_id        1.000   450.000   2693.000   4561.0000   4912.66000
birth_year    1914.000  1921.000   1946.000   1975.0000   1987.00000
age             18.000    21.000     26.000     34.0000     37.00000
experience       1.000     1.000      4.000     12.0000     16.00000
g                1.000     4.000     54.000     82.0000     82.00000
mp               0.000    27.000    997.000   2847.4500   3188.98000
per            -90.600     3.400     12.700     21.0000     26.50000
ts_percent       0.000     0.330      0.509      0.6137      0.70200
x3p_ar           0.000     0.000      0.099      0.5890      0.77800
f_tr             0.000     0.073      0.287      0.6250      1.00000
orb_percent      0.000     0.600      5.000     13.5000     19.10000
drb_percent      0.000     5.300     12.900     25.3000     32.20000
trb_percent      0.000     3.700      9.100     18.3000     22.90000
ast_percent      0.000     2.300     10.500     30.8000     41.10000
stl_percent      0.000     0.000      1.500      3.1000      4.70000
blk_percent      0.000     0.000      0.900      4.7000      7.50600
tov_percent      0.000     6.720     13.900     25.4000     38.50000
usg_percent      0.000    10.900     18.500     27.8000     33.50000
ows             -5.100    -0.600      0.400      5.5000      9.00000
dws             -1.000     0.000      0.800      3.6000      5.30000
ws              -2.800    -0.200      1.300      8.5000     12.70000
ws_48           -2.519    -0.080      0.076      0.1820      0.25200
obpm         -1000.000    -7.065     -1.400      3.2000      6.10000
dbpm           -31.100    -2.500     -0.200      2.1000      3.70000
bpm          -1000.000    -8.365     -1.500      3.7000      7.70000
vorp            -2.600    -0.500      0.100      3.1000      5.51300
ast              0.000     1.000     64.000    378.0000    610.00000
blk              0.000     0.000     11.000     92.5500    176.00000
drb              0.000     2.000    105.000    450.0000    646.23000
e_fg_percent     0.000     0.280      0.467      0.5820      0.68300
fg               0.000     3.000    133.000    570.0000    749.00000
fg_percent       0.000     0.269      0.437      0.5570      0.66700
fga              0.000     8.000    305.000   1219.0000   1571.00000
ft               0.000     1.000     58.000    329.0000    495.00000
ft_percent       0.000     0.490      0.745      0.9000      1.00000
fta              0.000     2.000     81.000    424.0000    633.00000
gs               0.000     0.000      7.000     80.0000     82.00000
orb              0.000     1.000     35.000    203.0000    293.00000
pf               0.000     3.000    100.000    262.0000    306.00000
pts              0.000     7.000    346.000   1497.0000   1995.00000
stl              0.000     0.000     28.000    113.0000    164.00000
tov              0.000     1.000     52.000    210.0000    276.00000
trb              0.000     4.000    153.000    681.0000    986.00000
x2p              0.000     2.000    111.000    536.0000    729.00000
x2p_percent      0.000     0.278      0.459      0.5900      0.71392
x2pa             0.000     6.000    246.000   1113.0000   1506.66000
x3p              0.000     0.000      4.000    119.0000    179.00000
x3p_percent      0.000     0.000      0.302      0.4620      1.00000
x3pa             0.000     0.000     15.000    320.0000    468.00000

                   1.00
seas_id       31135.000
season         2023.000
player_id      5108.000
birth_year     2002.000
age              46.000
experience       22.000
g                90.000
mp             3882.000
per             133.800
ts_percent        1.500
x3p_ar            1.000
f_tr              6.000
orb_percent     100.000
drb_percent     100.000
trb_percent     100.000
ast_percent     100.000
stl_percent      25.000
blk_percent      77.800
tov_percent     100.000
usg_percent     100.000
ows              18.300
dws              16.000
ws               25.400
ws_48             2.712
obpm            199.400
dbpm             60.700
bpm             242.200
vorp             12.500
ast            1164.000
blk             456.000
drb            1111.000
e_fg_percent      1.500
fg             1597.000
fg_percent        1.000
fga            3159.000
ft              840.000
ft_percent        1.000
fta            1363.000
gs               83.000
orb             587.000
pf              386.000
pts            4029.000
stl             346.000
tov             464.000
trb            2149.000
x2p            1597.000
x2p_percent       1.000
x2pa           3159.000
x3p             402.000
x3p_percent       1.000
x3pa           1028.000
------------------------------  DATAFRAME HEAD      ------------------------------
   seas_id  season  player_id        player  birth_year pos   age  experience  \
0    30458    2023       5025    A.J. Green         NaN  SG  23.0           1
1    30459    2023       5026   A.J. Lawson         NaN  SG  22.0           1
2    30460    2023       5026   A.J. Lawson         NaN  SG  22.0           1
3    30461    2023       5026   A.J. Lawson         NaN  SG  22.0           1
4    30462    2023       4219  Aaron Gordon         NaN  PF  27.0           9

    lg   tm  ...   pts   stl   tov    trb  x2p  x2p_percent  x2pa   x3p  \
0  NBA  MIL  ...   154   6.0   9.0   45.0    9        0.450    20  44.0
1  NBA  TOT  ...    56   2.0   3.0   21.0   12        0.632    19  10.0
2  NBA  MIN  ...     2   0.0   0.0    1.0    1        1.000     1   0.0
3  NBA  DAL  ...    54   2.0   3.0   20.0   11        0.611    18  10.0
4  NBA  DEN  ...  1109  54.0  98.0  446.0  369        0.628   588  60.0

   x3p_percent   x3pa
0        0.419  105.0
1        0.400   25.0
2          NaN    0.0
3        0.400   25.0
4        0.347  173.0

[5 rows x 55 columns]
------------------------------  DATAFRAME TAIL      ------------------------------
       seas_id  season  player_id          player  birth_year  pos   age  \
31130      200    1947        157     Walt Miller         NaN    F  31.0
31131      201    1947        158   Warren Fenley         NaN    F  24.0
31132      202    1947        159   Wilbert Kautz         NaN  G-F  31.0
31133      203    1947        160  Woody Grimshaw         NaN    G  27.0
31134      204    1947        161     Wyndol Gray         NaN  G-F  24.0

       experience   lg   tm  ...  pts  stl  tov  trb  x2p  x2p_percent  x2pa  \
31130           1  BAA  PIT  ...   23  NaN  NaN  NaN    7        0.333    21
31131           1  BAA  BOS  ...   85  NaN  NaN  NaN   31        0.225   138
31132           1  BAA  CHS  ...  253  NaN  NaN  NaN  107        0.255   420
31133           1  BAA  PRO  ...   61  NaN  NaN  NaN   20        0.357    56
31134           1  BAA  BOS  ...  350  NaN  NaN  NaN  139        0.292   476

       x3p  x3p_percent  x3pa
31130  NaN          NaN   NaN
31131  NaN          NaN   NaN
31132  NaN          NaN   NaN
31133  NaN          NaN   NaN
31134  NaN          NaN   NaN

[5 rows x 55 columns]

C:\Users\bartl\AppData\Local\Temp\ipykernel_25584\544677726.py:16: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.quantile([0,0.05,0.50,0.95,0.99,1]).T)